.icon {
  margin-top: 11px;
  margin-right: 10px;
  margin-left: 10px;
}

.header-cart-text {
  margin-left: 50%;
  margin-top: 5px;
}

.header-cart-icon {
  margin-left: 1.5%;
  margin-top: 12.5px;
}
