.icon {
  margin-top: 11px;
  margin-right: 10px;
  margin-left: 10px;
}

.header-cart-text {
  margin-left: 50%;
  margin-top: 0.65%;
}

.header-cart-icon {
  margin-left: 1.5%;
  margin-top: 1.8%;
}
